body {
    background: rgb(156,32,137);
    background: linear-gradient(90deg, rgba(156,32,137,1) 0%, rgba(78,8,105,1) 52%, rgba(0,212,255,1) 100%);
}

.alert-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-radius: 0;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 43px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.nav_title {
    display: none;
}

img {
    max-width: 100%;
    max-height: 600px;
}

@media (max-width: 991px) {
    .xd {
        margin-bottom: 5px;
    }

    .post_card {
        text-align: left;
    }

    .login {
        margin-top: 5px;
    }

    footer {
        display: none;
        opacity: 0;
    }
}

@media (max-width: 377px) {
    .subforum_delete {
        margin-top: 5px;
    }
}
@media (min-width: 991px) {
    .nav-footer {
        display: none;
    }

    .post_card {
        text-align: center;
    }
}

.card_header {
    text-decoration: none;
}

.footericons {
    transition: opacity 0.25s;
}
