@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

body {
    font-family: "Roboto Mono", monospace;
}

.alert-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
}

.nav_title {
    display: none;
}

img {
    max-width: 100%;
    max-height: 600px;
}

@media (max-width: 991px) {
    .xd {
        margin-bottom: 5px;
    }

    .post_card {
        text-align: left;
    }

    .login {
        margin-top: 5px;
    }

    footer {
        display: none;
        opacity: 0;
    }
}

@media (max-width: 377px) {
    .subforum_delete {
        margin-top: 5px;
    }
}
@media (min-width: 991px) {
    .nav-footer {
        display: none;
    }

    .post_card {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .profile_settings {
        margin-top: 10px;
    }
}

.card_header {
    text-decoration: none;
}

.footericons {
    transition: opacity 0.25s;
}
